.navbar {
  display: flex;
  background-color: #e96f1a;
  padding: 20px;
  border-radius: 15px;
}
.logo {
  width: 80px;
  height: 80px;
}

.settings {
  width: 40px;
  height: 40px;
}
.nav-link {
  color: #fff !important;
}
