.food-detail {
  display: flex;
  justify-content: space-between; /* Giãn đều hai phần */
  gap: 20px; /* Khoảng cách giữa hai phần */
  padding: 20px; /* Thêm khoảng trống bên trong box */
  background-color: #fff; /* Nền trắng cho khung chứa */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
  border-radius: 10px; /* Góc bo tròn cho khung */
}
.food-detail-quantity {
  display: flex;
  position: relative;
}
.food-item-counter {
  bottom: 0;
}
.add {
  padding: 10px;
}
.food-detail-image {
  flex: 4;
}
.food-detail-image img {
  max-width: 100%; /* Để hình ảnh không vượt quá khung chứa */
  height: auto;
  border-radius: 8px;
}

.food-detail-info {
  flex-grow: 1; /* Phần thông tin sẽ chiếm không gian còn lại */
  flex: 6;
}

.food-detail h2,
.food-detail p {
  margin: 10px 0;
}
.food-detail h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.food-detail p {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.btn_buy_now,
.btn_add_to_cart {
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #007bff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}
.food-detail button:hover {
  transform: scale(1.05);
}
.quantity-control span {
  margin-top: 11px !important;
}
.btn_add_to_cart {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #007bff !important;
}
.quantity-control {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 2px;
}

.quantity-control button {
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
}

.quantity-control span {
  margin: 10px 10px;
  font-size: 18px;
}
